.let-me-in {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-bear-face {
    background: url("images/bear-face.png");
    width: 160px;
    height: 150px;
  }
  &-window {
    height: 379px;
    width: 503px;
    color: #ffffff;
    background: #e990f9;
    border-radius: 44px;
    display: flex;
    justify-content: center;
  }
  &-button {
    background: #e990f9;
    width: 151px;
    height: 60px;
    border-radius: 36px;
    border: solid 3px #ffffff;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer;
  }
  &-button:focus {
    outline:0;
    box-shadow: 0 0 0 1px #88b8ff;
    border-radius: 36px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 160px;
  }
}

@media (max-width: 768px) {
  .let-me-in {
    &-window {
      width: auto;
      background: #ffffff;
    }
    &-bear-face {
      background: url("images/bearFace.png");
    }
    &-button {
      background: #ffffff;
      color: #e990f9;
      border-color: #e990f9;
    }
  }
}