.jogs {
  &-search {
    width: 100vw;
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    &-input {
      width: 100px;
      height: 31px;
      border-radius: 11px;
      border: solid 1px #979797;
      background-color: #ffffff;
      margin: 0 45px;
      text-align: center;
    }
    &-description {
      font-size: 13px;
      color: #a3a3a3;
      text-align: center;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-add {
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    img {
      width: 60px;
      height: 60px;
    }
  }
  &-item:first-child {
    margin-top: 30px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    &-title {
      font-size: 14px;
      font-weight: bold;
      margin-right: 4px;
    }
    &-date {
      font-size: 14px;
      color: #aaaaaa;
    }
    &-desc {
      line-height: 1.5;
    }
    &-icon {
      width: 64px;
      height: 64px;
      margin-top: 5px;
    }
    &-content {
      width: 55%;
    }
  }
  &-container {
    margin: 0 auto;
    width: 220px;
  }
}

@media (max-width: 768px) {
  .jogs {
    &-search {
      &-input {
        width: 80px;
        margin: 0 15px;
      }
    }
    &-container {
      margin: 0;
      width: 100%;
    }
    &-add {
      right: 30px;
      bottom: 30px;
      img {
        width: 47px;
        height: 47px;
      }
    }
    &-item {
      padding: 0 10% 30px 10%;
      border-bottom: 1px solid #aaaaaa;
      &-icon {
        width: 120px;
        height: 120px;
      }
      &-content {
        width: 50%;
      }
      &-desc {
        line-height: 2;
      }
    }
  }
}